@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    width: 500px;
    height: 600px;
    background-color: rgb(165, 165, 165);
    margin: 80px auto;
    border-radius: 12px;
    flex-direction: column;
}

div.res{
    display: flex;
    width: 450px;
    height: 120px;
    align-items: center;
    justify-content: end;
    margin: 24px auto 12px auto;
    background-color: #a05757;
    border-radius: 4px;
}

div.pad{
    display: flex;
    width: 450px;
    margin: auto;
    justify-content: space-around;
    background-color: pink;
}

div.num-pad{
    display: flex;
    background-color: beige;
    width: 300px;
    height: 380px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

div.button{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: aqua;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

div.oper{
    display: flex;
    height: 425px;
    width: 80px;
    background-color: rgb(220, 240, 245);
    flex-direction: column;
    justify-content: space-evenly;
}

div.button:active{
    background-color: rgb(2, 138, 138);
}